.footer-container{
    background-color: rgb(253, 228, 228);
    background-image: linear-gradient(to right, rgb(254, 215, 215) , rgb(255, 242, 242));
    color: black;
    width: 100%;
    height:auto;
    overflow: auto;
}
.footer-box{
    width:80%;
    height:auto;
    overflow: auto;
    margin:1% 10% 2%;
}
h1{
    margin: 1% 0%;
    color: black;
    font-size: 2em;
}
h2{
    margin: 5% 0% 2%;
    color: black;
    font-size: 1.4em;
}
h5 p{
    margin: 2% 0%;
    color: black;
    font-size: 0.9em;
}
span{
    margin: 3% 10% 0% 0%;
    color: black;
    font-size: 1.4em;
}
hr{
    width:30%;
    height:5px;
    background-color: red;
    border:none;
    border-radius: 5px 5px;
    margin: 2% 0% 5% 0%;
}


.footer-left{
    width: 30%;
    height: auto;
    float:left;
    margin: 0% 10% 0% 0%; 
}
.footer-mid{
    width: 25%;
    height: auto;
    float:left;
    margin: 0% 10% 0% 0%; 
}
.footer-right{
    width: 25%;
    height: auto;
    float:left;
}


@media screen and (max-width:600px) {
    .footer-box{
        width:84%;
        margin:2% 8%;
    }
    hr{
        width:35%;
        height:5px;
    }
    h1{
        font-size: 5vw;
    }
    h2{
        font-size: 2.5vw;
        color: blue;
    }
    span{
        margin: 5% 5% 0% 0%;
        font-size: 5vw;
    }
    p, h5{
        padding: 2% 0%;
        font-size: 2.5vw;
    }
    .footer-left{
        width: 40%;
        margin: 3% 5% 10% 0%; 
    }
    .footer-left p{
        margin: -3% 0% 5%; 
    }
    .footer-mid, .footer-right{
        width: 25%;
        margin: 5.8% 0%;
    }
}