.top-card-show-left{
    width:50%;
    float:left;
}

.top-card-show-left img{
    margin: 0% 0% 0% 0%;
    width: 100%;
    float:left;
    color: white;
}

.top-card-show-right{
    width:50%;
    float:left;
    color: white;
}
.top-card-show-det{
    width: 80%;
    margin: 30% 15% 0% 5%;
    color: rgb(24, 21, 103)
}
.top-card-show-det h1{
    font-size: 2.5vw;
}
.top-card-show-det h2{
    font-size: 2vw;
}
.top-card-show-det h3{
    font-size: 1vw;
}