.class-card-details{
    width: 80%;
    margin: 85% 10% 0% 10%;
    float:left;
}
.class-card-details hr{
    width:35%;
    height:3px;
    margin: 2% 0%;
    background-color: red;
    border: none;
    border-radius: 2px;;
}
.class-card-details h3{
    font-size: 1.4vw;
    margin: 1% 0%;
}
.class-card-details span{
    font-size: 1vw;
    margin: 1% 0% 2% 0%;
}
.class-card-details p{
    font-size: 0.85vw;
    margin: 1% 0% 0% 0%;
}

/* Mobiles */
@media screen and (max-width: 600px) {
    .class-card-details h3{
        font-size: 3.5vw;
        margin: 1% 0%;
    }
    .class-card-details span{
        font-size: 3vw;
        margin: 2% 0%;
    }
    
    .class-card-details p{
        font-size: 2.5vw;
        margin: 1% 0% 0% 0%;
    }
}

/* Tablet */
@media screen and (min-width: 600px) {
    .class-card-details h3{
        font-size: 3.5vw;
        margin: 1% 0%;
    }
    .class-card-details span{
        font-size: 3vw;
        margin: 2% 0%;
    }
    
    .class-card-details p{
        font-size: 2.5vw;
        margin: 1% 0% 0% 0%;
    }
}

/* Big-Mobiles */
@media screen and (min-width: 900px) {
    .class-card-details h3{
        font-size: 3.5vw;
        margin: 1% 0%;
    }
    .class-card-details span{
        font-size: 3vw;
        margin: 2% 0%;
    }
    
    .class-card-details p{
        font-size: 2.5vw;
        margin: 1% 0% 0% 0%;
    }
}

@media screen and (min-width:1200px) {
    .class-card-details{
        width: 80%;
        margin: 85% 10% 0% 10%;
        float:left;
    }
    .class-card-details hr{
        width:35%;
        height:3px;
        margin: 2% 0%;
    }
    .class-card-details h3{
        font-size: 1.4vw;
        margin: 1% 0%;
    }
    .class-card-details span{
        font-size: 1vw;
        margin: 1% 0% 2% 0%;
    }
    .class-card-details p{
        font-size: 0.85vw;
        margin: 1% 0% 0% 0%;
    }
}