.schedule-container{
    width: 100%;
    height: auto;
    overflow: auto;
}

.schedule-show{
    background-color: rgb(117,152,161);
    width: 100%;
    height: auto;
    float: left;
}

.schedule-box{
    width: 60%;
    height: auto;
    margin: 5% 20%;
    float: left;
}
    .schedule-show-left{
        width:50%;
        float:left;
    }
    .schedule-show-left img{
        margin: 0% 0% 0% 0%;
        width: 100%;
        float:left;
        color: white;
    }
    .schedule-show-right{
        background-color: aquamarine;
        width:50%;
        float:left;
        color: white;
    }


.schedule-box h1{
    font-size: 2.2em;
    text-align: center;
    color: black;
}

.schedule-box p{
    width:100%;
    display: flex;
    margin: 3% 0% 0% 0%;
    border: 1px solid rgb(197, 196, 196);
    border-left:0px;
    border-right: 0px; 
    border-top:0px;
}
.schedule-box h5{
    width: 30%;
    font-size: 1.15em;
    color: rgb(4, 4, 137);
}
.schedule-button{
    width: 10%;
    text-align: center;
}
.schedule-box button{
    width: 100%;
    background-color: rgb(4, 4, 137);
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    margin: 10% 0%;
    padding: 10% 10%;
    border: none;
    border-radius: 10px;
}





@media screen and (max-width: 600px) {
    .schedule-box{
        width: 80%;
        margin: 10% 10%;
    }
    .schedule-box h1{
        font-size: 8vw;
    }
    .schedule-box h5{
        font-size: 2vw;
        color: rgb(4, 4, 137);
    }
    .schedule-button{
        width: 10%;
    }
    .schedule-box button{
        color: white;
        font-size: 2vw;
        padding: 10% 10%;
        border-radius: 5px;
        margin-top: 40%;
    }

}